# Kosha {{ .ConnectorName }} Connector

## Description

## Build

To build the project binary, run 
```
    go build -o main .

```

## Run locally

To run the project, simply provide env variables to supply needed credentials.

{{if eq .Auth.Type "Basic Authentication"}}
```bash
go build -o main .
USERNAME=<USERNAME> PASSWORD=<PASSWORD> ./main
```
{{end}}

This will start a worker and expose the API on port `8015` on the host machine

Swagger docs is available at `https://localhost:8015/docs`

## Generating Swagger Documentation

To generate `swagger.json` and `swagger.yaml` files based on the API documentation, simple run -

```bash
go install github.com/swaggo/swag/cmd/swag@latest
swag init -g main.go --parseDependency --parseInternal
```

To generate OpenAPISpec version 3 from Swagger 2.0 specification, run -

```bash
npm i api-spec-converter
npx api-spec-converter --from=swagger_2 --to=openapi_3 --syntax=json ./docs/swagger.json > openapi.json
```
