package app

func (a *App) initializeRoutes() {
	var apiV1 = "/api/v1"

	// specification routes
	a.Router.HandleFunc(apiV1+"/specification/list", a.listConnectorSpecification).Methods("GET", "OPTIONS")
	a.Router.HandleFunc(apiV1+"/specification/test", a.testConnectorSpecification).Methods("{{ .Auth.MeEndpoint.Method }}", "OPTIONS")

	{{range .Endpoints}} 
	a.Router.HandleFunc(apiV1+"{{ .KoshaPath }}", a.{{ .Name }}).Methods("{{ .Method }}", "OPTIONS")
	{{- end}}
}
